$sivaBoja: #5c5a67;
$belaBoja: #fff;
$plavaBoja: #05396b;
$velicinaDugme: 25px;
$tamnoZelena: #51af25;
$svetloRoza: #cd64fc;
$tamnoLjubicasta: #8a51dc;
$tamnoLjubicasta2: #7d36e2;

@mixin flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@mixin h2Tag{
    font-size: 40px;
    text-transform: uppercase;
    background-image: linear-gradient(to right, $svetloRoza, $tamnoLjubicasta);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    text-align: center;
    margin-top: 70px;
}
@mixin shadow{
    box-shadow: 4px 4px $tamnoLjubicasta2;
}
@mixin gradient{
    background-image: linear-gradient(to left, $svetloRoza, $tamnoLjubicasta);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Montserrat', sans-serif;
    color: $sivaBoja;
}
.wrapper{
    width: 80%;
    margin: 0px auto;
    @include flex;
}
ul{
    list-style-type: none;
    a{
        text-decoration: none;
        color: $belaBoja;
    }
}
/*Header*/
header{
    width: 100%;
    position: fixed;
    background-image: linear-gradient(to left, $svetloRoza, $tamnoLjubicasta);
    z-index: 2;
    #logo{
        margin-top: 5px;
    }
    nav{
        width: 700px;
        font-size: 22px;
        text-transform: uppercase;
        font-weight: 300;
        ul{
            @include flex;
            margin-top: 14px;
        }
        a{
            padding: 7px 15px;
            border-radius: 10px;
        }
        a:hover{
            color: #fff;
            background-image: linear-gradient(to left, $svetloRoza, $tamnoLjubicasta);
            border-radius: 10px;
            box-shadow: 4px 4px $tamnoLjubicasta2;
            transition-duration: .3s;
        }
    }
}
/*Top*/
#background-top{
    width: 100%;
    height: 800px;
    background-image: url('../img/bg3.jpg');
    background-size: cover;
    background-position: center;
}
#top-massage{
    margin-top: 200px;
    color: $belaBoja;
    h1{
        font-weight: 300;
        line-height: 1;
        color: $svetloRoza;
    }
    span{
        font-size: 80px;
        color: $tamnoLjubicasta;
        font-weight: 900;
        text-transform: uppercase;
    }
    #span2{
        font-size: 30px;
        text-transform: none;
        font-weight: 300;
        color: #898796;
    }
    li{
        margin-top: 35px;
    }
    a{
        font-size: $velicinaDugme;
        text-transform: uppercase;
        padding: 8px 15px;
        background-color: $tamnoLjubicasta;
        border-radius: 20px;
        border: 2px solid $tamnoLjubicasta;
    }
    a:hover{
        background: none;
        border: 2px solid $tamnoLjubicasta;
        color: $sivaBoja;
    }
}
/*Skills*/
.blocks{
    @include flex;
    margin-top: 40px;
}
#skills{
    margin: 0px auto;
    h2{
        @include h2Tag();
    }
    .block-01{
        width: 30%;
    }
    .icon-skills ul{
        display: flex;
        justify-content: center;
        font-size: 150px;
        li{
            @include h2Tag;
            font-size: 160px;
            margin-top: 0px;
        }
    }
    .tekst-skills{
        text-align: center;
        h3{
            font-size: 36px;
            margin-bottom: 10px;
        }
        p{
            font-size: 20px;
        }
    }
}
/*Projects*/
#projects{
    width: 100%;
    background-color: $sivaBoja;
    margin-top: 60px;
    padding-bottom: 60px;
    background-image: linear-gradient(to right, $svetloRoza, $tamnoLjubicasta);
    h2{
        @include h2Tag();
        position: relative;
        background-image: linear-gradient(to right, #fff, #fff);
        top: 20px;
    }
}
#projects .blocks{
    margin: 40px auto;
    width: 80%;
    .project{
        width: 45%;
        margin: auto;
        }
    img{
        width: 100%;
        filter: grayscale(1.0);
    }
    img:hover{
        filter:grayscale(0);
    }
}
#about-me{
    width: 100%;
    margin-top: 120px;
    .wrapper{
        width: 60%;
        border: 3px solid $sivaBoja;
        border-radius: 25px;
        background-color: $sivaBoja;
    }
}
#slika{
    width:35%;
    height: 500px;
    background-color: $belaBoja;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
#about-me-tekst{
    width: 50%;
    text-align: center;
    margin-right: 60px;
    color: $belaBoja;
    h2{
        @include h2Tag();
        margin-top: 10px;
        color: $belaBoja;
    }
    p{
        font-size: 22px;
        margin-top: 20px;
    }
}
#contact{
    width: 100%;
    h2{
        @include h2Tag();
    }
    .wrapper{
        border-top: 3px solid $sivaBoja;
        width: 70%;
    }
    #contact-tekst{
        margin-top: 40px;
        font-size: 30px;
    }
    form{
        width: 35%;
        @include flex;
        flex-direction: column;
        margin-right: 100px;
        margin-top: 40px;
        border-top: 2px solid $sivaBoja;
        border-bottom: 2px solid $sivaBoja;
        border-radius: 4px;
        padding: 30px;
        input{
            width: 100%;
            margin-bottom: 20px;
            height: 40px;
            font-family: 'Montserrat', sans-serif;
            font-size: 22px;
            border: 0px;
            border-bottom: 2px solid $sivaBoja;
            border-radius: 4px;
        }
        textarea{
            font-family: 'Montserrat', sans-serif;
            font-size: 22px;
            border-radius: 4px;
            width: 100%;
        }
        #kontakt-forma-btn{
            width: 40%;
            margin: 15px auto;
            font-size: 20px;
            border: 2px solid $sivaBoja;
            border-radius: 10px;
            color: $sivaBoja;
        }
        #kontakt-forma-btn:hover{
            background-image: linear-gradient(to right, $svetloRoza, $tamnoLjubicasta);
            transition: .2s;
            border-color: $tamnoLjubicasta;
            color: #fff;
            @include shadow;
        }
    }
    .info{
        @include flex;
        justify-content: left;
        margin-top: 50px;
        i{
            font-size: 42px;
            @include gradient();
        }
        p{
            font-size: 24px;
            margin-top: 9px;
            margin-left: 10px;
        }
    }
}
footer{
    width: 100%;
    height: 80px;
    background-color: $sivaBoja;
    margin-top: 180px;
    color: $belaBoja;
    display: flex;
    align-items: center;
    p{
       font-size: 17px;
       margin-top: 6.5px;
    }
}
.icons-footer{
    width: 15%;
    ul li{
        display: inline-block;
        margin-left: 15px;
        font-size: 30px;
        a:hover{
            color: $svetloRoza;
        }
    }
}

