* {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #5c5a67;
}

.wrapper {
  width: 80%;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

ul {
  list-style-type: none;
}

ul a {
  text-decoration: none;
  color: #fff;
}

#projects-a-tag, #skills-a-tag, #about-me-a-tag {
  position: absolute;
  margin-top: -100px;
}

#skills-a-tag {
  margin-top: -60px;
}

/*Header*/
header {
  width: 100%;
  position: fixed;
  background-image: -webkit-gradient(linear, right top, left top, from(#cd64fc), to(#8a51dc));
  background-image: linear-gradient(to left, #cd64fc, #8a51dc);
  z-index: 2;
  -webkit-box-shadow: 0px 0px 2px 2px #8a51dc;
          box-shadow: 0px 0px 2px 2px #8a51dc;
}

header #logo {
  margin-top: 5px;
}

header nav {
  width: auto;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 300;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 17px;
}

header nav a {
  padding: 7px 15px;
  border-radius: 14px;
}

header nav a:hover {
  color: #fff;
  background-image: -webkit-gradient(linear, right top, left top, from(#cd64fc), to(#8a51dc));
  background-image: linear-gradient(to left, #cd64fc, #8a51dc);
  background-size: 100%;
  -webkit-box-shadow: 1px 2px 2px 1px #7d36e2;
          box-shadow: 1px 2px 2px 1px #7d36e2;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

/*Top*/
#background-top {
  width: 100%;
  height: 800px;
  background-image: url("../img/bg5.jpg");
  background-size: cover;
  background-position: center;
}

#top-massage {
  margin-top: 230px;
  color: #fff;
  -webkit-animation-name: tekst-load;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: cubic;
          animation-timing-function: cubic;
}

#top-massage h1 {
  font-weight: 300;
  line-height: 1;
  color: #cd64fc;
}

#top-massage #span1 {
  font-size: 70px;
  color: #8a51dc;
  font-weight: 900;
  text-transform: uppercase;
  background-image: -webkit-gradient(linear, right top, left top, from(#cd64fc), to(#8a51dc));
  background-image: linear-gradient(to left, #cd64fc, #8a51dc);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

#top-massage #span2 {
  font-size: 30px;
  text-transform: none;
  font-weight: 300;
  color: #898796;
}

#top-massage li {
  margin-top: 35px;
}

#top-massage a {
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 8px 15px;
  color: #8a51dc;
  border-radius: 20px;
  border: 2px solid #8a51dc;
}

#top-massage a:hover {
  border: 2px solid #8a51dc;
  color: #fff;
  -webkit-box-shadow: 1px 2px 2px 1px #7d36e2;
          box-shadow: 1px 2px 2px 1px #7d36e2;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  background-image: -webkit-gradient(linear, right top, left top, from(#cd64fc), to(#8a51dc));
  background-image: linear-gradient(to left, #cd64fc, #8a51dc);
  background-size: 100%;
}

@-webkit-keyframes tekst-load {
  from {
    -webkit-transform: scale(0.8);
  }
  to {
    -webkit-transform: scale(1);
  }
}

/*Skills*/
.blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}

#skills {
  margin: 0px auto;
}

#skills h2 {
  font-size: 38px;
  text-transform: uppercase;
  background-image: -webkit-gradient(linear, left top, right top, from(#cd64fc), to(#8a51dc));
  background-image: linear-gradient(to right, #cd64fc, #8a51dc);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 10px;
}

#skills .block-01 {
  width: 30%;
  -webkit-transition: 250ms;
  transition: 250ms;
}

#skills .block-01:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background-image: -webkit-gradient(linear, right top, left top, from(#cd64fc), to(#8a51dc));
  background-image: linear-gradient(to left, #cd64fc, #8a51dc);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  border-radius: 5px;
  -webkit-box-shadow: 4px #7d36e2;
          box-shadow: 4px #7d36e2;
}

#skills .icon-skills ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#skills .icon-skills ul li {
  font-size: 38px;
  text-transform: uppercase;
  background-image: -webkit-gradient(linear, left top, right top, from(#cd64fc), to(#8a51dc));
  background-image: linear-gradient(to right, #cd64fc, #8a51dc);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 10px;
  font-size: 160px;
  margin-top: 0px;
}

#skills .tekst-skills {
  text-align: center;
}

#skills .tekst-skills h3 {
  font-size: 36px;
  margin-bottom: 10px;
}

#skills .tekst-skills p {
  font-size: 19px;
}

/*Projects*/
#projects {
  width: 100%;
  background-color: #5c5a67;
  margin-top: 100px;
  padding-bottom: 60px;
  background-image: -webkit-gradient(linear, left top, right top, from(#cd64fc), to(#8a51dc));
  background-image: linear-gradient(to right, #cd64fc, #8a51dc);
  height: auto;
  -webkit-box-shadow: 0px 0px 6px 6px #8a51dc;
          box-shadow: 0px 0px 6px 6px #8a51dc;
  max-height: 480px;
}

#projects h2 {
  font-size: 38px;
  text-transform: uppercase;
  background-image: -webkit-gradient(linear, left top, right top, from(#cd64fc), to(#8a51dc));
  background-image: linear-gradient(to right, #cd64fc, #8a51dc);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 10px;
  position: relative;
  background-image: -webkit-gradient(linear, left top, right top, from(#fff), to(#fff));
  background-image: linear-gradient(to right, #fff, #fff);
  top: 20px;
}

#projects .blocks {
  margin: 40px auto;
  width: 80%;
  /*Overlay text*/
}

#projects .blocks .project {
  width: 45%;
  margin: auto;
}

#projects .blocks ul {
  text-align: center;
  font-size: 22px;
  margin-top: 40px;
}

#projects .blocks ul a {
  padding: 7px 15px;
  border-radius: 10px;
  border: 2px solid #fff;
}

#projects .blocks ul a:hover {
  background-image: -webkit-gradient(linear, right top, left top, from(#cd64fc), to(#8a51dc));
  background-image: linear-gradient(to left, #cd64fc, #8a51dc);
  background-size: 100%;
  -webkit-box-shadow: 1px 2px 2px 1px #7d36e2;
          box-shadow: 1px 2px 2px 1px #7d36e2;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

#projects .blocks .project-image {
  position: relative;
  width: 100%;
  -webkit-box-shadow: 5px 6px 4px #7d36e2;
          box-shadow: 5px 6px 4px #7d36e2;
}

#projects .blocks img {
  display: block;
  width: 100%;
  height: auto;
}

#projects .blocks .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(205, 100, 252, 0.72)), to(rgba(138, 81, 220, 0.72)));
  background-image: linear-gradient(to right, rgba(205, 100, 252, 0.72), rgba(138, 81, 220, 0.72));
  overflow: hidden;
  width: 0;
  height: 100%;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

#projects .blocks .project-image:hover .overlay {
  width: 100%;
}

#projects .blocks .overlay-text {
  white-space: nowrap;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-tranform: translate(-50%, -50%);
}

/*About me*/
#about-me {
  width: 100%;
  margin-top: 120px;
}

#about-me .wrapper {
  width: 60%;
  border: 3px solid #5c5a67;
  border-radius: 25px;
  background-color: #5c5a67;
}

#slika {
  width: 35%;
  height: 500px;
  background-color: #fff;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

#about-me-tekst {
  width: 50%;
  text-align: center;
  margin-right: 60px;
  color: #fff;
}

#about-me-tekst h2 {
  font-size: 38px;
  text-transform: uppercase;
  background-image: -webkit-gradient(linear, left top, right top, from(#cd64fc), to(#8a51dc));
  background-image: linear-gradient(to right, #cd64fc, #8a51dc);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #fff;
}

#about-me-tekst p {
  font-size: 22px;
  margin-top: 20px;
}

/*Contact*/
#contact {
  width: 100%;
}

#contact h2 {
  font-size: 38px;
  text-transform: uppercase;
  background-image: -webkit-gradient(linear, left top, right top, from(#cd64fc), to(#8a51dc));
  background-image: linear-gradient(to right, #cd64fc, #8a51dc);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 10px;
  margin-bottom: 0px;
}

#contact .wrapper {
  border-top: 3px solid #5c5a67;
  width: 70%;
}

#contact #contact-tekst {
  margin-top: 40px;
  font-size: 30px;
  margin-left: 50px;
}

#contact form {
  width: 32%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 50px;
  margin-top: 40px;
  border-top: 2px solid #5c5a67;
  border-bottom: 2px solid #5c5a67;
  border-radius: 4px;
  padding: 40px 30px;
}

#contact form input {
  width: 100%;
  margin-bottom: 30px;
  height: 40px;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  border: 0px;
  border-bottom: 2px solid #5c5a67;
  border-radius: 4px;
  padding: 2px;
}

#contact form textarea {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  border-radius: 4px;
  padding: 2px;
  width: 100%;
}

#contact form #kontakt-forma-btn {
  width: 40%;
  margin: 15px auto;
  font-size: 20px;
  border: 2px solid #5c5a67;
  border-radius: 14px;
  color: #5c5a67;
}

#contact form #kontakt-forma-btn:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#cd64fc), to(#8a51dc));
  background-image: linear-gradient(to right, #cd64fc, #8a51dc);
  -webkit-transition: .2s;
  transition: .2s;
  border-color: #8a51dc;
  color: #fff;
  -webkit-box-shadow: 1px 2px 2px 1px #7d36e2;
          box-shadow: 1px 2px 2px 1px #7d36e2;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

#contact .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-top: 50px;
}

#contact .info i {
  font-size: 42px;
  background-image: -webkit-gradient(linear, right top, left top, from(#cd64fc), to(#8a51dc));
  background-image: linear-gradient(to left, #cd64fc, #8a51dc);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

#contact .info p {
  font-size: 24px;
  margin-top: 9px;
  margin-left: 10px;
}

/*Footer*/
footer {
  width: 100%;
  height: 80px;
  background-color: #5c5a67;
  margin-top: 180px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer p {
  font-size: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer p #span-footer {
  margin-left: 4px;
}

.icons-footer {
  width: 22%;
}

.icons-footer #responsive-list {
  display: none;
}

.icons-footer ul {
  text-align: center;
}

.icons-footer ul li {
  display: inline-block;
  margin-left: 15px;
  font-size: 28px;
}

.icons-footer ul li p {
  display: none;
}

.icons-footer ul li a:hover {
  color: #cd64fc;
}

.hovertext {
  position: relative;
  border-bottom: 1px dotted black;
}

.hovertext:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 50px;
  color: #fff;
  border-radius: 5px;
  padding: 5px 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  font-size: 15px;
  position: absolute;
  z-index: 1;
  left: 30%;
  bottom: 80%;
}

.hovertext:hover:before {
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 1290px) {
  #skills .block-01 {
    width: 45%;
  }
  #skills .margin-resp {
    margin: 20px auto 0px auto;
  }
  #projects {
    padding-bottom: 0px;
    margin-top: 50px;
    max-height: none;
  }
  #projects .blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #projects .blocks .project {
    width: 80%;
    margin-bottom: 50px;
  }
  #projects .blocks .project ul {
    margin-top: 25px;
  }
  #projects .blocks .project .project-image {
    -webkit-box-shadow: 0px 0px 6px 3.5px #7d36e2;
            box-shadow: 0px 0px 6px 3.5px #7d36e2;
  }
  #contact #contact-tekst {
    margin-left: 0px;
  }
  #contact #contact-tekst p {
    font-size: 23px;
  }
  #contact form {
    margin-right: 0;
    width: 32%;
  }
  #contact form input {
    font-size: 18px;
  }
}

@media screen and (max-width: 1107px) {
  header .wrapper {
    text-align: center;
    display: block;
  }
  header #logo {
    margin-top: 10px;
  }
  header nav {
    margin: 5px auto 15px auto;
  }
  header nav ul {
    margin-top: 0px;
    font-size: 24px;
  }
  .wrapper {
    width: 85%;
  }
  #skills .block-01 ul li {
    font-size: 130px;
    margin-bottom: 0px;
  }
  #skills .block-01 .tekst-skills h3 {
    font-size: 28px;
    margin-top: -15px;
  }
  #skills .block-01 .tekst-skills p {
    font-size: 17px;
  }
  #contact #contact-tekst {
    margin-top: 0px;
    margin-left: 0px;
  }
  #contact #contact-tekst p {
    font-size: 22px;
  }
  #contact form {
    border: none;
    border: 2px solid #5c5a67;
    padding: 5px 15px;
    margin-left: 10px;
  }
  footer p {
    font-size: 15px;
  }
  footer .icons-footer ul li {
    font-size: 26px;
  }
}

@media screen and (max-width: 1000px) {
  #aboutme-a-tag {
    position: absolute;
    margin-top: -70px;
  }
  #background-top {
    background-size: 1500px 600px;
    background-repeat: no-repeat;
    background-position-x: 80%;
  }
  #background-top #top-massage {
    background-color: rgba(235, 235, 235, 0.85);
    padding: 20px;
    border-radius: 14px;
    -webkit-box-shadow: 0px 0px 3px 1.3px #8a51dc;
            box-shadow: 0px 0px 3px 1.3px #8a51dc;
    border-radius: 7px;
  }
  #background-top #top-massage #span1 {
    font-size: 52px;
  }
  #background-top #top-massage #span2 {
    font-size: 18px;
  }
  #background-top #top-massage li {
    margin-top: 22px;
  }
  #background-top #top-massage li a {
    padding: 7px 10px;
    font-size: 20px;
  }
  #contact #contact-tekst {
    margin: 30px auto;
  }
  #contact #contact-tekst .info {
    text-align: center;
    display: block;
    margin-top: 15px;
  }
  #contact #contact-tekst .info p {
    margin: 2.5px 0px 5px 0px;
  }
  #contact form {
    width: 96%;
    border: none;
    border-bottom: 2px solid #5c5a67;
    border-radius: 0px;
    margin-top: 30px;
  }
}

@media screen and (max-width: 774px) {
  header nav ul {
    font-size: 16px;
    font-weight: 550;
  }
  #background-top {
    background-size: 1200px 500px;
    background-position-y: 60%;
  }
  #background-top #top-massage {
    margin-top: 160px;
  }
  #skills .blocks .block-01 {
    width: 75%;
    -webkit-box-shadow: 0px 0px;
            box-shadow: 0px 0px;
    background-color: #ebebeb;
    padding: 15px;
    border-radius: 14px;
  }
  #skills .blocks .block-01 p {
    font-size: 20px;
  }
  #skills .blocks .block-01:hover {
    -webkit-box-shadow: 0px 0px 8px 0.2px #8a51dc;
            box-shadow: 0px 0px 8px 0.2px #8a51dc;
    -webkit-transform: scale(1.015);
            transform: scale(1.015);
  }
  #projects .blocks .project {
    width: 100%;
  }
  footer {
    height: auto;
    padding: 15px 0px 15px 0px;
  }
  footer .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .wrapper p {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 20px;
    font-size: 17px;
    letter-spacing: 1.1px;
  }
  footer .wrapper #for-responsive {
    display: none;
  }
  footer .wrapper .icons-footer {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 15px auto 0px auto;
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  footer .wrapper .icons-footer #responsive-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  footer .wrapper .icons-footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (max-width: 562px) {
  #skills h2, #projects h2, #about-me h2, #contact h2 {
    font-size: 30px;
  }
  header .wrapper {
    width: 92%;
  }
  header nav ul {
    font-size: 12.5px;
  }
  header nav ul li a {
    padding: 0px 0px;
    border-radius: 0px;
    padding-bottom: 1.5px;
  }
  header nav ul li a:hover {
    background-size: 0%;
    -webkit-box-shadow: 0px 0px;
            box-shadow: 0px 0px;
    border-bottom: 1px solid #fff;
    border-radius: 0px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  #background-top {
    background-position-y: 100%;
    background-position: 85% 90%;
  }
  #background-top #top-massage {
    padding: 25px 40px;
    -webkit-box-shadow: 0px 0px;
            box-shadow: 0px 0px;
    text-align: center;
    margin: 150px auto 0px auto;
  }
  #background-top #top-massage #span1 {
    font-size: 35px;
  }
  #background-top #top-massage #span2 {
    font-size: 16px;
  }
  #skills #skills-a-tag {
    margin-top: -160px;
  }
  #skills .blocks .block-01 {
    width: 80%;
  }
  #skills .blocks .block-01 ul li {
    margin-top: -25px;
    margin-bottom: 0px;
  }
  #skills .blocks .block-01 ul li i {
    font-size: 105px;
  }
  #skills .blocks .block-01 h3 {
    font-size: 20px;
    margin-bottom: 0px;
  }
  #skills .blocks .block-01 p {
    font-size: 14.5px;
  }
  #contact .wrapper {
    width: 85%;
  }
  #contact #contact-tekst .info i {
    font-size: 30px;
  }
  #contact #contact-tekst .info p {
    font-size: 18px;
  }
  #contact form input {
    font-size: 18px;
  }
  #contact form textarea {
    font-size: 18px;
  }
  footer {
    margin-top: 100px;
  }
  footer .wrapper p {
    font-size: 14px;
    letter-spacing: 0.5px;
  }
  footer .wrapper p #span-footer {
    display: none;
  }
  footer .wrapper .icons-footer ul li {
    font-size: 22px;
  }
}

@media screen and (max-width: 380px) {
  #background-top {
    background-size: 900px 360px;
    background-position: 75% 60%;
  }
  #background-top #top-massage {
    padding: 25px 30px;
  }
  #background-top #top-massage li a {
    font-size: 15px;
    padding: 5px 8px;
  }
  #skills h2 {
    margin-top: -50px;
    margin-bottom: -30px;
  }
  #projects .blocks ul li {
    font-size: 18px;
  }
  #contact #contact-tekst .info i {
    font-size: 28px;
  }
  #contact #contact-tekst .info p {
    font-size: 16px;
  }
}
/*# sourceMappingURL=style.css.map */
