* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #5c5a67;
}

.wrapper {
  width: 80%;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

ul {
  list-style-type: none;
}

ul a {
  text-decoration: none;
  color: #fff;
}

/*Header*/
header {
  width: 100%;
  position: fixed;
  background-image: -webkit-gradient(linear, right top, left top, from(#cd64fc), to(#8a51dc));
  background-image: linear-gradient(to left, #cd64fc, #8a51dc);
  z-index: 2;
}

header #logo {
  margin-top: 5px;
}

header nav {
  width: 700px;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 300;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 14px;
}

header nav a {
  padding: 7px 15px;
  border-radius: 10px;
}

header nav a:hover {
  color: #fff;
  background-image: -webkit-gradient(linear, right top, left top, from(#cd64fc), to(#8a51dc));
  background-image: linear-gradient(to left, #cd64fc, #8a51dc);
  background-size: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 2px #7d36e2;
          box-shadow: 4px 4px 2px #7d36e2;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

/*Top*/
#background-top {
  width: 100%;
  height: 800px;
  background-image: url("../img/bg3.jpg");
  background-size: cover;
  background-position: center;
}

#top-massage {
  margin-top: 200px;
  color: #fff;
  -webkit-animation-name: tekst-load;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: cubic;
          animation-timing-function: cubic;
}

#top-massage h1 {
  font-weight: 300;
  line-height: 1;
  color: #cd64fc;
}

#top-massage #span1 {
  font-size: 80px;
  color: #8a51dc;
  font-weight: 900;
  text-transform: uppercase;
  background-image: -webkit-gradient(linear, right top, left top, from(#cd64fc), to(#8a51dc));
  background-image: linear-gradient(to left, #cd64fc, #8a51dc);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

#top-massage #span2 {
  font-size: 30px;
  text-transform: none;
  font-weight: 300;
  color: #898796;
}

#top-massage li {
  margin-top: 35px;
}

#top-massage a {
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 8px 15px;
  color: #8a51dc;
  border-radius: 20px;
  border: 2px solid #8a51dc;
}

#top-massage a:hover {
  border: 2px solid #8a51dc;
  color: #fff;
  -webkit-box-shadow: 4px 4px 2px #7d36e2;
          box-shadow: 4px 4px 2px #7d36e2;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  background-image: -webkit-gradient(linear, right top, left top, from(#cd64fc), to(#8a51dc));
  background-image: linear-gradient(to left, #cd64fc, #8a51dc);
  background-size: 100%;
}

@-webkit-keyframes tekst-load {
  from {
    -webkit-transform: scale(0.8);
  }
  to {
    -webkit-transform: scale(1);
  }
}

/*Skills*/
.blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}

#skills {
  margin: 0px auto;
}

#skills h2 {
  font-size: 40px;
  text-transform: uppercase;
  background-image: -webkit-gradient(linear, left top, right top, from(#cd64fc), to(#8a51dc));
  background-image: linear-gradient(to right, #cd64fc, #8a51dc);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-align: center;
  margin-top: 70px;
}

#skills .block-01 {
  width: 30%;
  -webkit-transition: 250ms;
  transition: 250ms;
}

#skills .block-01:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background-image: -webkit-gradient(linear, right top, left top, from(#cd64fc), to(#8a51dc));
  background-image: linear-gradient(to left, #cd64fc, #8a51dc);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  border-radius: 5px;
  -webkit-box-shadow: 4px #7d36e2;
          box-shadow: 4px #7d36e2;
}

#skills .icon-skills ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 150px;
}

#skills .icon-skills ul li {
  font-size: 40px;
  text-transform: uppercase;
  background-image: -webkit-gradient(linear, left top, right top, from(#cd64fc), to(#8a51dc));
  background-image: linear-gradient(to right, #cd64fc, #8a51dc);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-align: center;
  margin-top: 70px;
  font-size: 160px;
  margin-top: 0px;
}

#skills .tekst-skills {
  text-align: center;
}

#skills .tekst-skills h3 {
  font-size: 36px;
  margin-bottom: 10px;
}

#skills .tekst-skills p {
  font-size: 20px;
}

/*Projects*/
#projects {
  width: 100%;
  background-color: #5c5a67;
  margin-top: 60px;
  padding-bottom: 60px;
  background-image: -webkit-gradient(linear, left top, right top, from(#cd64fc), to(#8a51dc));
  background-image: linear-gradient(to right, #cd64fc, #8a51dc);
}

#projects h2 {
  font-size: 40px;
  text-transform: uppercase;
  background-image: -webkit-gradient(linear, left top, right top, from(#cd64fc), to(#8a51dc));
  background-image: linear-gradient(to right, #cd64fc, #8a51dc);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-align: center;
  margin-top: 70px;
  position: relative;
  background-image: -webkit-gradient(linear, left top, right top, from(#fff), to(#fff));
  background-image: linear-gradient(to right, #fff, #fff);
  top: 20px;
}

#projects .blocks {
  margin: 40px auto;
  width: 80%;
  /*Overlay text*/
}

#projects .blocks .project {
  width: 45%;
  margin: auto;
}

#projects .blocks ul {
  text-align: center;
  font-size: 22px;
  margin-top: 20px;
}

#projects .blocks ul a {
  padding: 7px 15px;
  border-radius: 10px;
  border: 2px solid #fff;
}

#projects .blocks ul a:hover {
  background-image: -webkit-gradient(linear, right top, left top, from(#cd64fc), to(#8a51dc));
  background-image: linear-gradient(to left, #cd64fc, #8a51dc);
  background-size: 100%;
  -webkit-box-shadow: 4px 4px 2px #7d36e2;
          box-shadow: 4px 4px 2px #7d36e2;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

#projects .blocks .project-image {
  position: relative;
  width: 100%;
}

#projects .blocks img {
  display: block;
  width: 100%;
  height: auto;
}

#projects .blocks .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(205, 100, 252, 0.7)), to(rgba(138, 81, 220, 0.7)));
  background-image: linear-gradient(to right, rgba(205, 100, 252, 0.7), rgba(138, 81, 220, 0.7));
  overflow: hidden;
  width: 0;
  height: 100%;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

#projects .blocks .project-image:hover .overlay {
  width: 100%;
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
}

#projects .blocks .project-image:hover img {
  width: 100%;
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

#projects .blocks .overlay-text {
  white-space: nowrap;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-tranform: translate(-50%, -50%);
}

/*About me*/
#about-me {
  width: 100%;
  margin-top: 120px;
}

#about-me .wrapper {
  width: 60%;
  border: 3px solid #5c5a67;
  border-radius: 25px;
  background-color: #5c5a67;
}

#slika {
  width: 35%;
  height: 500px;
  background-color: #fff;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

#about-me-tekst {
  width: 50%;
  text-align: center;
  margin-right: 60px;
  color: #fff;
}

#about-me-tekst h2 {
  font-size: 40px;
  text-transform: uppercase;
  background-image: -webkit-gradient(linear, left top, right top, from(#cd64fc), to(#8a51dc));
  background-image: linear-gradient(to right, #cd64fc, #8a51dc);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-align: center;
  margin-top: 70px;
  margin-top: 10px;
  color: #fff;
}

#about-me-tekst p {
  font-size: 22px;
  margin-top: 20px;
}

#contact {
  width: 100%;
}

#contact h2 {
  font-size: 40px;
  text-transform: uppercase;
  background-image: -webkit-gradient(linear, left top, right top, from(#cd64fc), to(#8a51dc));
  background-image: linear-gradient(to right, #cd64fc, #8a51dc);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-align: center;
  margin-top: 70px;
}

#contact .wrapper {
  border-top: 3px solid #5c5a67;
  width: 70%;
}

#contact #contact-tekst {
  margin-top: 40px;
  font-size: 30px;
}

#contact form {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 100px;
  margin-top: 40px;
  border-top: 2px solid #5c5a67;
  border-bottom: 2px solid #5c5a67;
  border-radius: 4px;
  padding: 30px;
}

#contact form input {
  width: 100%;
  margin-bottom: 20px;
  height: 40px;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  border: 0px;
  border-bottom: 2px solid #5c5a67;
  border-radius: 4px;
}

#contact form textarea {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  border-radius: 4px;
  width: 100%;
}

#contact form #kontakt-forma-btn {
  width: 40%;
  margin: 15px auto;
  font-size: 20px;
  border: 2px solid #5c5a67;
  border-radius: 10px;
  color: #5c5a67;
}

#contact form #kontakt-forma-btn:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#cd64fc), to(#8a51dc));
  background-image: linear-gradient(to right, #cd64fc, #8a51dc);
  -webkit-transition: .2s;
  transition: .2s;
  border-color: #8a51dc;
  color: #fff;
  -webkit-box-shadow: 4px 4px 2px #7d36e2;
          box-shadow: 4px 4px 2px #7d36e2;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

#contact .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-top: 50px;
}

#contact .info i {
  font-size: 42px;
  background-image: -webkit-gradient(linear, right top, left top, from(#cd64fc), to(#8a51dc));
  background-image: linear-gradient(to left, #cd64fc, #8a51dc);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

#contact .info p {
  font-size: 24px;
  margin-top: 9px;
  margin-left: 10px;
}

footer {
  width: 100%;
  height: 80px;
  background-color: #5c5a67;
  margin-top: 180px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer p {
  font-size: 17px;
  margin-top: 6.5px;
}

.icons-footer {
  width: 15%;
}

.icons-footer ul li {
  display: inline-block;
  margin-left: 15px;
  font-size: 30px;
}

.icons-footer ul li a:hover {
  color: #cd64fc;
}
/*# sourceMappingURL=style.css.map */
